{% extends "layout.html" %}
{% block body %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/img3.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About</h1>
            <span class="subheading">About the application</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>The COVID-19 pandemic, also known as the coronavirus pandemic, is an ongoing pandemic of coronavirus disease 2019 (COVID‑19), caused by severe acute respiratory syndrome coronavirus 2 (SARS‑CoV‑2).The outbreak was first identified in Wuhan, China, in December 2019.The World Health Organization declared the outbreak a Public Health Emergency of International Concern on 30 January, and a pandemic on 11 March.As of 21 May 2020, more than 5 million cases of COVID-19 have been reported in more than 188 countries and territories, resulting in more than 328,000 deaths. More than 1.89 million people have recovered from the virus.</p>
        <p>The covid-19 tracker is  a website which one can access to gain any knowledge about covid-19. The website has mentors and cousellors who can be contacted to gain information about covid-19 pandamic. The person using the website can choose a mentor and talk to him/her and clear all his doubts about covid and related issues. The main purpose of the website is to spred awareness.</p>
      </div>
    </div>
  </div>

{% endblock %}